version: "3.9"

services:
  opensearch-node1:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node1
    user: root  # Run as root to allow chown
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${DEFAULT_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "${OPENSEARCH_PORT-9200}:9200"
    volumes:
      - ${VOLUME_PATH}/opensearch-data1:/usr/share/opensearch/data
    networks:
      - opensearch-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 100s
      retries: 10
    command: >
      sh -c "chown -R 1000:root /usr/share/opensearch/data && ./opensearch-docker-entrypoint.sh"

  opensearch-node2:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node2
    user: root  # Run as root to allow chown    
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node2
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${DEFAULT_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - ${VOLUME_PATH}/opensearch-data2:/usr/share/opensearch/data
    networks:
      - opensearch-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 100s
      retries: 10
    command: >
      sh -c "chown -R 1000:root /usr/share/opensearch/data && ./opensearch-docker-entrypoint.sh"

  ollama:
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}
    container_name: ollama
    ports:
      - "${OLLAMA_PORT-11434}:11434"
    volumes:
      - ${VOLUME_PATH}/ollama:/root/.ollama
    deploy:
      resources:
        limits:
          memory: 16g
    tty: true
    restart: unless-stopped
    networks:
      - opensearch-net

  open-webui:
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    container_name: open-webui
    volumes:
      - ${VOLUME_PATH}/open-webui:/app/backend/data
    ports:
      - "${OPEN_WEBUI_PORT-8080}:8080"
    environment:
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}:${OLLAMA_PORT}
      - WEBUI_SECRET_KEY=
      - VECTOR_DB=opensearch
      - OPENSEARCH_URI=${OPENSEARCH_HOST}:${OPENSEARCH_PORT}
      - OPENSEARCH_USERNAME=${DEFAULT_USERNAME}
      - OPENSEARCH_PASSWORD=${DEFAULT_PASSWORD}
      - OPENSEARCH_SSL=false
      - OPENSEARCH_CERT_VERIFY=false
      - ENABLE_RAG_WEB_LOADER_SSL_VERIFICATION=false
      - TIKA_SERVER_URL=${TIKA_URL}:${TIKA_PORT}
      - CONTENT_EXTRACTION_ENGINE=${CONTENT_EXTRACTION_ENGINE}
      - ENV=${ENV}
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - opensearch-net

  tika:
    image: apache/tika:latest-full
    container_name: tika
    ports:
      - "${TIKA_PORT-9998}:9998"
    configs:
      - source: tika_config_3
        target: /tika-config.xml
    restart: unless-stopped
    networks:
      - opensearch-net

  datahandler:
    build: ./datahandler
    container_name: datahandler
    ports:
      - "${FLASK_PORT-5000}:5000"
    environment:
      - OPENWEBUI_URL=http://open-webui:8080
      - OPENSEARCH_URI=${OPENSEARCH_HOST}:${OPENSEARCH_PORT}
      - OPENSEARCH_USERNAME=${DEFAULT_USERNAME}
      - OPENSEARCH_PASSWORD=${DEFAULT_PASSWORD}
      - DEFAULT_USERNAME=${DEFAULT_USERNAME}
      - DEFAULT_PASSWORD=${DEFAULT_PASSWORD}
      - SYNC_ON_STARTUP=${SYNC_ON_STARTUP}
    volumes:
      - ${VOLUME_PATH}:/app/data
    depends_on:
      open-webui:
        condition: service_healthy
      opensearch-node1:
        condition: service_healthy
      opensearch-node2:
        condition: service_started
    restart: unless-stopped
    networks:
      - opensearch-net

volumes:
  datahandler: {}
  ollama: {}
  open-webui: {}
  opensearch-data1: {}
  opensearch-data2: {}

configs:
  tika_config_3:
    file: ./tika-config.xml

networks:
  opensearch-net:
